@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&family=Roboto:wght@100;300;400&display=swap');

.container {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 530px;
    background-color: rgb(248, 244, 244);
    border-radius: 30px;
    font-family: 'Roboto', sans-serif;
   
    font-weight: 100;

}

.keyboard {
    /* background-color: orange; */
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(46px, 46px);
    background-color: black;
    /* padding: 1px; */
    width: 280px;
    height: 300px;
    /* grid-auto-rows: auto;
    align-content: space-between; */
    /* border: red solid 2px; */
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: rgb(109, 108, 108);
    padding-top: 18px;
    padding-left: 1px;


}


.spacing {
    gap: 1px;
    /* margin: 5px; */
}

.spacingForm {
    margin-top: 70px;
    border-radius: 0px;
    height: 120px;
    width: 280px;
    font-size: 60px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    text-align: right;
    padding-top: 50px;
    padding-right: 10px;
    padding-left: 16px;
    color: rgb(190, 187, 187);
    ;

}

.bgColor {
    background-color: rgb(220, 217, 217);
}

.bgColor:hover {
    background-color: rgb(189, 186, 186);
}

.bgColorOrange {
    background-color: rgb(236, 116, 37);
}

.bgColorOrange:hover {
    background-color: rgb(218, 108, 35);
}


.bgColorOther {
    background-color: rgb(176, 174, 174);
}

.bgColorOther:hover {
    background-color: rgb(144, 143, 143);
}

body {
    /* width: 60vw; */
    border: red solid 2px;
    background-color: rgb(215, 211, 211);
}

button {
    width: 45px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    color: rgb(4, 4, 4);


}

#display {
    overflow: hidden;
    padding-bottom: 30px;
}



/* .wrapper {
    background-color: orange;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(50px, auto);
} */

.bigButton {
    grid-column: 6/7;
    grid-row: 5/7;
}